.overallInventeryOverlay{
  display: flex;
  flex-direction: column;
  gap: 15px;
  padding: 15px 20px;
  background-color: white;
  border-radius: 10px;
}

.overallInventeryOverlay h3{
  margin: 0;
}

.overallList{
  display: flex;
  justify-content: space-between;
}

.overallItem{
  display: flex;
  flex-direction: column;
  gap: 5px;
  border-right: 1px solid #d5dae3;
  padding-right: 70px;
}

.overallItem:last-child{
  border-right: none;
  padding-right: 0px;
}

.overallItem h5{
  margin: 5px 0;
}

.itemContent{
  display: flex;
  gap: 70px;
}

.valueLabel{
  display: flex;
  flex-direction: column;
  gap: 5px;
  color: var(--darkColor);
}

.valueLabel div:nth-child(1) {
  font-weight: bold;
}

.valueLabel div:nth-child(2) {
  font-size: 14px;
}

.secondValueLabel{
  text-align: right;
}

@media only screen and (max-width: 1180px) {
  .overallItem{
    padding-right: 40px;
  }
}

@media only screen and (max-width: 1024px) {
  .overallItem{
    padding-right: 70px;
  }
  
  .itemContent{
    gap: 50px;
  }
}

@media only screen and (max-width: 932px) {
  .overallItem{
    padding-right: 40px;
  }
}

@media only screen and (max-width: 820px) {
  .overallItem{
    padding-right: 20px;
  }

  .itemContent{
    gap: 40px;
  }
}

@media only screen and (max-width: 667px) {
   .itemContent{
    gap: 15px;
  }
}

@media only screen and (max-width: 540px) {
  .overallList{
    flex-direction: column;
    align-items: center;
  }

  .overallItem{
    width: calc(100%);
    flex-direction: column;
    gap: 15px;
    border-right: none;
    border-bottom: 1px solid #d5dae3;
    padding-right: 0;
    padding-bottom: 15px;
    padding-top: 15px;
  }

  .overallItem:first-child{
    padding-top: 0;
  }

  .overallItem:last-child{
    border-bottom: none;
    padding-bottom: 0;
  }

  .itemContent{
    justify-content: space-between;
  }

  .overallItem h5{
    font-size: 18px;
  }

  .valueLabel div:nth-child(1) {
    font-size: 18px;
  }
  
  .valueLabel div:nth-child(2) {
    font-size: 16px;
  }
}