.inputFieldWrapper{
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.inputFieldWrapper label{
  font-size: 12px;
  width: 30%;
}

.inputFieldWrapper input{
  font-size: 14px;
  padding: 5px 5px 5px 10px;
}

.inputField{
  width: 60%;
}